body {
    overflow-x: hidden;
}

.top-img {
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}

.top-img .mask {
    height: 100vh;
}

.container p {
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

#main-title {
    font-size: 60px;
}

#scroll-info {
    position: absolute;
    bottom: 0;
}

#scroll-info p {
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        visibility: hidden;
    }
    #main-title {
        position: absolute;
        top: 20%;
        left: 0;
        font-size: 40px;
    }
}
